#shop ul#nav-secondary li.first-top-left-corner a{ 
	background: #FF9E00 url(/web/20120823182936im_/http://www.mcfc.co.uk/images/corner-top-left-3a5268.png) top left no-repeat !important; 
}
#shop #content ul#nav-secondary li.active ul li a {
	background:#3A7895 none repeat scroll 0 0 !important;
}
/*
     FILE ARCHIVED ON 18:29:36 Aug 23, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:29:25 Dec 07, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 127.732
  exclusion.robots: 0.13
  exclusion.robots.policy: 0.119
  RedisCDXSource: 2.105
  esindex: 0.013
  LoadShardBlock: 99.562 (3)
  PetaboxLoader3.datanode: 68.949 (4)
  CDXLines.iter: 21.685 (3)
  load_resource: 125.914
  PetaboxLoader3.resolve: 35.49
*/