#shop ul#nav-secondary li.first-top-left-corner a{ 
	background: #FF9E00 url(/web/20120817225845im_/http://www.mcfc.co.uk/images/corner-top-left-3a5268.png) top left no-repeat !important; 
}
#shop #content ul#nav-secondary li.active ul li a {
	background:#3A7895 none repeat scroll 0 0 !important;
}
/*
     FILE ARCHIVED ON 22:58:45 Aug 17, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:29:46 Dec 07, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.19
  load_resource: 67.767
  captures_list: 126.66
  CDXLines.iter: 28.956 (3)
  RedisCDXSource: 2.265
  exclusion.robots.policy: 0.176
  PetaboxLoader3.datanode: 64.009 (4)
  LoadShardBlock: 90.968 (3)
  esindex: 0.015
  PetaboxLoader3.resolve: 78.238 (2)
*/