
.video-playlists{
}
.mod-carousel{
	position:relative;
	background:#101A24;
	clear:both;
}
.content-main-gutter .mod-carousel{
	margin-left:-15px;
	margin-right:-15px;
}
.content-main-gutter .video-playlists{
	margin-bottom:-25px;
}
.mod-carousel:nth-child(even){
	background:#1a242e;
}	
	.mod-carousel:nth-child(even) .cp-loadingTblue{
	    background-image: url(/web/20120817225559im_/http://www.mcfc.co.uk/images/loader-blue-light.gif);
	}	
	.mod-carousel h4{
		color:#fff;
		padding:16px 0 0 16px;
		font-weight:bold;
	}
	#content-main-feature .mod-carousel h4{display:none;}
	.mod-carousel-wrapper{
		position:relative;
	}
	.js .mod-carousel-wrapper{
		height:190px;
		overflow: hidden;
	}
		.js .mod-carousel-wrapper ul{ height:180px; position:absolute;}
			.mod-carousel-item{
				width:156px;
				float:left;
				display:block; 
				margin:0;
				padding:8px 2px;
				font-size:1.05em;
			}
				.mod-carousel-item a{
					position:relative;
					padding:5px;
					display:block;
					-webkit-transition: background 0.3s ease-out;
					-moz-transition: background 0.3s ease-out;
					-ms-transition: background 0.3s ease-out;
					-o-transition: background 0.3s ease-out;
					transition: background 0.3s ease-out; 
				}
				.mod-carousel-item a:hover,
				.mod-carousel-item a.selected{
					background:#fff;
				}
				.mod-carousel-item a:hover h5,
				.mod-carousel-item a:hover p,
				.mod-carousel-item a.selected h5,
				.mod-carousel-item a.selected p{
					color:#000;
				}
					.mod-carousel-item a img{
						max-width:100%;
					}
					.mod-carousel-item h5{
						line-height:1.3;
						padding:0 0 4px 0;
					}
					.mod-carousel-item p{
						color:#fff;
						line-height:1.1;
						padding:0; margin:0;
					}
					.mod-carousel-playIcon{
						display:none;
						position:absolute;
						left:50px;
						top:32px;
						height:162px;
						z-index:10;
						background:url(/web/20120817225559im_/http://www.mcfc.co.uk/images/icon-play.png) no-repeat;
						width:44px;
						height:44px;
					}
					.mod-carousel-item a:hover span.mod-carousel-playIcon{
						display:block;
					}
					.mod-carousel-item a:hover h5,
					.mod-carousel-item a:hover p{
						color:#000;
					}
	ul.mod-carousel-pagination{
		height:9px; position:absolute; bottom:14px; left:0; padding:0; margin:0;
		text-align:center; display:block; width:100%; display:none;
	}
	*+html ul.mod-carousel-pagination{left:40.5%;}
	#content-main-feature ul.mod-carousel-pagination{display:none !important;}
	.js ul.mod-carousel-pagination{display:block;}
		ul.mod-carousel-pagination li{
			width: 9px;
			height: 9px;
			display: inline-block;
			overflow: hidden;
			margin:0 3px;
			zoom: 1;
			text-indent:-999em; 
			overflow:hidden; 
			background-repeat: no-repeat;
			background:url(/web/20120817225559im_/http://www.mcfc.co.uk/images/gallery-sprites.png) no-repeat 0 -397px;
		}
		*+html ul.mod-carousel-pagination li{display:block;float:left;}
		ul.mod-carousel-pagination li.mod-carousel-currentPage{background-position:0 -406px;}
	
	.mod-carousel .jcarousel-container{position: absolute; width:100%;}
	.mod-carousel .jcarousel-prev,
	.mod-carousel .jcarousel-next{
		width:62px;
		height:160px;
		position:absolute;
		top:4px;
		background:url(/web/20120817225559im_/http://www.mcfc.co.uk/images/gallery-sprites.png) no-repeat;
		cursor:pointer;
		z-index:15;
	}
	.mod-carousel .jcarousel-prev{
		left:0;
		background-position:0 -214px;
	}
	.mod-carousel .jcarousel-next{
		right:0;
		background-position:-130px -214px;
	}
	.mod-carousel .jcarousel-prev:hover{
		background-position:-65px -214px;
	}
	.mod-carousel .jcarousel-next:hover{
		background-position:-195px -214px;
	}
	.mod-carousel .jcarousel-clip{
		position: relative;
	}
/*
     FILE ARCHIVED ON 22:55:59 Aug 17, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:29:47 Dec 07, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.014
  CDXLines.iter: 23.348 (3)
  exclusion.robots: 0.236
  PetaboxLoader3.resolve: 32.703
  PetaboxLoader3.datanode: 54.289 (4)
  captures_list: 76.036
  LoadShardBlock: 45.052 (3)
  exclusion.robots.policy: 0.22
  RedisCDXSource: 1.007
  load_resource: 65.238
*/