
.h2swf{
	line-height: 0px !important;
	padding: 0px !important;
	margin-bottom: 0px !important;
}
h2.white-60.h2swf{
	margin-bottom: 5px !important;
}
span.h2swf-alternate {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	display: none;
}
/*
     FILE ARCHIVED ON 22:58:43 Aug 17, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:29:48 Dec 07, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 151.355
  exclusion.robots: 0.126
  exclusion.robots.policy: 0.115
  RedisCDXSource: 2.386
  esindex: 0.01
  LoadShardBlock: 121.546 (3)
  PetaboxLoader3.datanode: 69.745 (4)
  CDXLines.iter: 22.645 (3)
  load_resource: 63.443
  PetaboxLoader3.resolve: 34.806
*/