.scOMSPollOptionResults
{
	width: 100%;
	padding: 0.5em
}
.scOMSPollOptionItemResult 
{
	font-size: 0.8em;
	padding: 0 0.3em 0.3em 0;
	text-align: left;
}
.scOMSPollOptionItemResultValue
{
	color: #346183;
	font-weight: bold;
}
.scOMSPollVisualisation 
{
	padding-top: 1px;
	width: 100%;
	margin-right: 2em;
}
.scOMSPollPipe
{
	float: left;
	background-image: url(/web/20120817225647im_/http://www.mcfc.co.uk/~/media/images/OMS Poll/PollPipePart.ashx);
	background-repeat: repeat-x;
	width: 90%;
}
.scOMSPollPipe IMG 
{
	margin-top: 1px;
	height: 13px;
}
.scOMSPollVisualisation IMG 
{
	margin-top: 1px;
	height: 13px;
}
.scOMSPollMain
{
	text-align:left;
	padding: 1em;
}
.scOMSButtons
{
	padding-top: 7px;
}
.scOMSCookiesRequired
{
	display: none;
	padding: 2px;
	color: maroon;	
}
/*
     FILE ARCHIVED ON 22:56:47 Aug 17, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:29:47 Dec 07, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 602.841 (3)
  captures_list: 639.472
  load_resource: 99.574
  exclusion.robots: 0.173
  exclusion.robots.policy: 0.16
  PetaboxLoader3.datanode: 608.905 (4)
  esindex: 0.012
  RedisCDXSource: 6.133
  CDXLines.iter: 25.624 (3)
  PetaboxLoader3.resolve: 36.006
*/